* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 2rem;
    font-size: 1.25rem;
    color: white;
    text-align: center;
}

.game-section {
    color: white;
    padding-left: 5%;
}

.pagination-button-container {
    display: flex;
    justify-content: center;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem .25rem;
    border: none;
    min-width: 3rem;
    min-height: 3rem;
} 